//init
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-family: var(--ff-main), sans-serif;
  color: var(--text-main-clr-400);
}

// html {
//   max-width: 100vw;
//   max-height: 100vh;
//   overflow-x: hidden;
// }

body {
  height: 100vh;
}

.scroll-content {
  will-change: transform;
}

a {
  text-decoration: none;
  cursor: pointer;
}

//general customs
.box {
  height: 200px;
  width: 200px;
  background: black;
  margin: 10rem auto;
}

.red {
  background: red;
}
